@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    min-height: 100vh;
    padding: 0;
}

.content{
    background-color: #09122C;
    width: 700px;
    color: white;
    border-radius: 10px;
    padding: 100px 50px;
}

.bmi_calc{
    font-size: 75px;
    text-align: center;
}

.inputs{
    display: grid;
    position: relative;
    height: 50px;
    width: 100%;
    margin: 25px 0 55px 0;
}

.inputs input{
    height: 100%;
    width: 80%;
    border: none;
    outline: none;
    padding: 10px 15px;
    font-size: 30px;
    border-radius: 5px;
}

.output{
    display: grid;
    justify-content: center;
    background-color: red;
    font-size: 25px;
    font-weight: bold;
    margin: 100px 0 50px 0;
}

.bmi_chart{
    display: grid;
    justify-content: center;
    margin: 50px 0;
    background-color: grey;
    font-size: 20px;
}

